services:
  node-1:
    container_name: besu-node-1
    image: hyperledger/besu:latest
    ports:
      - "8545:8545" # RPC HTTP
      - "30303:30303" # P2P
    networks:
      besu_net:
        ipv4_address: 172.22.0.2
    volumes:
      # 1. Mapeamento do Genesis File (caminho relativo à raiz do projeto)
      - ./besu-network/config/genesis.json:/config/genesis.json
      # 2. Mapeamento da Chave Privada (caminho específico para node-1)
      - ./besu-network/node-1/data/key:/config/node.key
      # 3. Mapeamento da Pasta de Dados da Blockchain
      - ./besu-network/node-1/data:/var/lib/besu/data
    command:
      # Caminhos internos usados dentro do contêiner:
      - --data-path=/var/lib/besu/data
      - --genesis-file=/config/genesis.json
      - --node-private-key-file=/config/node.key # Usa a chave mapeada
      - --bootnodes=enode://46c385f677dbc3a952520b91249be74d555620e95ee74e1e9b507779c0ac006e04be66151724d5b0a257cb476ddeffb456b47d635d94b297b46ef5c1b96617e6@172.22.0.2:30303

      # Configuração de Consenso e API:
      - --rpc-http-enabled=true
      - --rpc-http-host=0.0.0.0
      - --rpc-http-cors-origins="*"
      - --rpc-http-api=ETH,NET,QBFT # APIs de acesso e consenso
      - --p2p-enabled=true
      - --p2p-host=0.0.0.0
      - --p2p-port=30303
      - --host-allowlist="*"
      - --profile=ENTERPRISE
    restart: always

  node-2:
    container_name: besu-node-2
    image: hyperledger/besu:latest
    ports:
      - "8546:8545" # RPC HTTP
      - "30304:30303" # P2P
    networks:
      besu_net:
        ipv4_address: 172.22.0.3
    volumes:
      # 1. Mapeamento do Genesis File (caminho relativo à raiz do projeto)
      - ./besu-network/config/genesis.json:/config/genesis.json
      # 2. Mapeamento da Chave Privada (caminho específico para node-2)
      - ./besu-network/node-2/data/key:/config/node.key
      # 3. Mapeamento da Pasta de Dados da Blockchain
      - ./besu-network/node-2/data:/var/lib/besu/data
    command:
      # Caminhos internos usados dentro do contêiner:
      - --data-path=/var/lib/besu/data
      - --genesis-file=/config/genesis.json
      - --node-private-key-file=/config/node.key # Usa a chave mapeada
      - --bootnodes=enode://46c385f677dbc3a952520b91249be74d555620e95ee74e1e9b507779c0ac006e04be66151724d5b0a257cb476ddeffb456b47d635d94b297b46ef5c1b96617e6@172.22.0.2:30303


      # Configuração de Consenso e API:
      - --rpc-http-enabled=true
      - --rpc-http-host=0.0.0.0
      - --rpc-http-cors-origins="*"
      - --rpc-http-api=ETH,NET,QBFT # APIs de acesso e consenso
      - --p2p-enabled=true
      - --p2p-host=0.0.0.0
      - --p2p-port=30303
      - --host-allowlist="*"
      - --profile=ENTERPRISE
    restart: always

  node-3:
    container_name: besu-node-3
    image: hyperledger/besu:latest
    ports:
      - "8547:8545" # RPC HTTP
      - "30305:30303" # P2P
    networks:
      besu_net:
        ipv4_address: 172.22.0.4
    volumes:
      # 1. Mapeamento do Genesis File (caminho relativo à raiz do projeto)
      - ./besu-network/config/genesis.json:/config/genesis.json
      # 2. Mapeamento da Chave Privada (caminho específico para node-3)
      - ./besu-network/node-3/data/key:/config/node.key
      # 3. Mapeamento da Pasta de Dados da Blockchain
      - ./besu-network/node-3/data:/var/lib/besu/data
    command:
      # Caminhos internos usados dentro do contêiner:
      - --bootnodes=enode://46c385f677dbc3a952520b91249be74d555620e95ee74e1e9b507779c0ac006e04be66151724d5b0a257cb476ddeffb456b47d635d94b297b46ef5c1b96617e6@172.22.0.2:30303
      - --data-path=/var/lib/besu/data
      - --genesis-file=/config/genesis.json
      - --node-private-key-file=/config/node.key # Usa a chave mapeada

      # Configuração de Consenso e API:
      - --rpc-http-enabled=true
      - --rpc-http-host=0.0.0.0
      - --rpc-http-cors-origins="*"
      - --rpc-http-api=ETH,NET,QBFT # APIs de acesso e consenso
      - --p2p-enabled=true
      - --p2p-host=0.0.0.0
      - --p2p-port=30303
      - --host-allowlist="*"
      - --profile=ENTERPRISE
    restart: always

  node-4:
    container_name: besu-node-4
    image: hyperledger/besu:latest
    ports:
      - "8548:8545" # RPC HTTP
      - "30306:30303" # P2P
    networks:
      besu_net:
        ipv4_address: 172.22.0.5
    volumes:
      # 1. Mapeamento do Genesis File (caminho relativo à raiz do projeto)
      - ./besu-network/config/genesis.json:/config/genesis.json
      # 2. Mapeamento da Chave Privada (caminho específico para node-4)
      - ./besu-network/node-4/data/key:/config/node.key
      # 3. Mapeamento da Pasta de Dados da Blockchain
      - ./besu-network/node-4/data:/var/lib/besu/data
    command:
      # Caminhos internos usados dentro do contêiner:
      - --bootnodes=enode://46c385f677dbc3a952520b91249be74d555620e95ee74e1e9b507779c0ac006e04be66151724d5b0a257cb476ddeffb456b47d635d94b297b46ef5c1b96617e6@172.22.0.2:30303
      - --data-path=/var/lib/besu/data
      - --genesis-file=/config/genesis.json
      - --node-private-key-file=/config/node.key # Usa a chave mapeada

      # Configuração de Consenso e API:
      - --rpc-http-enabled=true
      - --rpc-http-host=0.0.0.0
      - --rpc-http-cors-origins="*"
      - --rpc-http-api=ETH,NET,QBFT # APIs de acesso e consenso
      - --p2p-enabled=true
      - --p2p-host=0.0.0.0
      - --p2p-port=30303
      - --host-allowlist="*"
      - --profile=ENTERPRISE
    restart: always

  # Memory, CPU and I/O stress testing service
  stress-ng:
    container_name: stress-tester
    image: polinux/stress-ng:latest
    command: ["--cpu", "4", "--io", "2", "--vm", "2", "--vm-bytes", "128M", "--timeout", "300s"]
    restart: "no"
    networks:
      besu_net:
        ipv4_address: 172.22.0.6


networks:
  besu_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16
